@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}
.aHover {
    font-size: 15px;
    color: #7a7676;
}
.aHover:hover {
    color: rgb(28, 27, 27)
}

li {
    list-style: none;
}

.container {
    width: 1320px;
}
header#headerSection {
    height: 100px;
    overflow: hidden;
}
.pFixed {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 999;
}
nav.navBar {
    display: flex;
    flex-wrap: wrap;
}

.searchBoxWrapper {
    width: 60%;
    display: flex;
    margin-top: 10px;
    position: relative;
}

.logo {
    width: 50px;
    height: 40px;
}

.searchIcons {
    width: 820px;
    background: #ececec;
    border-radius: 100px;
    overflow: hidden;
    margin-left: 25px;
    position: relative;
}

.topMenu {
    width: 20%;
    display: flex;
}

.login {
    width: 20%;
}

.logo svg {
    height: 100%;
    margin-top: 20px;
    margin-left: 20px;
}

.searchIcons input {
    width: 769px;
    height: 38px;
    background: #ececec;
    border: none;
    position: absolute;
    top: 2px;
    outline: none;
    align-items: center;
}

.topMenu ul {
    display: flex;
    align-items: center;
}

.topMenu ul li {
    margin-right: 25px;
    font-size: 15px;
}

.topMenu {
    width: 17%;
    display: flex;
}

.login {
    width: 23%;
    align-items: center !important;
    margin-top: 10px;
    position: relative;
}


.logo svg {
    width: 100%;
    height: 100%;
    margin-top: 8px;
    margin-left: 20px;
}

.searchIcon {
    font-size: 15px;
    width: fit-content;
    height: fit-content;
    margin-top: 13px;
    margin-right: 10px;
    margin-left: 20px;
    color: #adaaaa;
    align-items: center
}

.login a {
    font-size: 15px;
    padding-right: 15px;
}

button.submitPhoto {
    width: 114px;
    margin: 0px 15px 0px 10px;
    padding: 7px;
    cursor: pointer;
    background: white;
    color: #7a7676;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button.submitPhoto:hover {
    border: 1px solid black;
    color: black
}

i.fa-solid.fa-bars {
    font-size: 18px;
    margin-left: 20px;
}

i.fa-solid.fa-bars:hover {
    color: black;
}

span.sss {
    font-size: 14px;
    color: #9c9c9cee;
    padding-right: 14px;
}

.login::before {
    content: '';
    width: 1px;
    height: 30px;
    background: #ddd;
    position: absolute;
    left: -33px;
}

/* input popup design  */
.inputPopup {
    width: 822px;
    position: absolute;
    left: 8%;
    top: 106%;
    border: 1px solid #ddd;
    border-radius: 5px;
    display:none;
    background: white;
    z-index: 999;
}
.popup{
    display:block;
}
.bground{
    background: white !important;
}
.dendingSwrapper {
    padding: 15px;
}


.searches {
    width: fit-content;
    display: inline-block;
    padding: 10px;
    border: 1px solid #ddd;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.searches:hover {
    background: #ebebeb;
}

i.fa-solid.fa-arrow-trend-up {
    /* color: #a39d9d; */
    margin: 0px 9px 0px 9px;
}

.dendingSwrapper h1 {
    color: #2b2a2a;
    font-size: 15px;
    margin-bottom: 10px;
font-weight: 500;}

.tropics {
    padding: 15px;
}

.tropics h1 {
    font-weight: 500;color: #2b2a2a;
    font-size: 15px;
    margin-bottom: 10px;
}

.tropic {
    width: fit-content;
    padding: 0px 12px 0px 0px;
    border: 1px solid #ddd;
    margin-right: 5px;
    border-radius: 5px;
    display: inline-flex;
    cursor: pointer;
    }
.topic:hover {
    background: #ebebeb;
}

.collections {
    padding: 15px;
}

.collections h1 {
    font-weight: 500;color: #2b2a2a;
    font-size: 15px;
    margin-bottom: 10px;
}

.collection {
    width: fit-content;
    display: inline-block;
    padding: 10px;
    border: 1px solid #ddd;
    margin-right: 5px;
    border-radius: 5px;
    transition: all .4s;
    -webkit-transition: all .4s;
    cursor: pointer;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}



.collection:hover {
    background: #ebebeb;
}
.image{
    display:flex;
float: left;margin-right: 10px;align-items: center;border-radius: 5px;}
.topicname {margin-top: 6px;padding: 3px 7px;}
.topic:hover{
    background-color: #ddd;
}

/* main Menu css Start */
.mainMenuSection {
    margin: 15px 0px 0px 17px;
}

.mainNav {
    display: flex;
}

.menuList ul {
    display: flex;
    position: relative;
}

.menuList ul li {
    font-size: 14px;
    margin-right: 25px;
}

.homeMenu a h1 {
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin-right: 25px;
}

.menuList {
    border-left: 1px solid #c6c6c6;
    padding: 8px 0px 8px 25px;
}

.homeMenu {
    padding: 8px 0px 8px 0px;
}

/* hero section css Start */
#heroSection{
    background-image:linear-gradient(#0000007d,#0000007d),url(https://images.unsplash.com/photo-1653216977227-fa2ae9547f96?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1vZi10aGUtZGF5fHx8fGVufDB8fHx8&dpr=1&auto=format%2Ccompress&fit=crop&w=1599&h=594);

    background-repeat: no-repeat;
    background-size: cover;
    height: 39rem;
}

.heroContent {
    width: 845px;
    margin: auto;
    padding-top: 40px;

}

.heroContent h1 {
    color: white;
    font-size: 50px;
    padding-top: 100px;
    margin-bottom: 20px;
}

.heroContent p {
    color: white;
    width: 370px;
    line-height: 35px;
    margin-bottom: 20px;
}

.heroContent p a {
    color: #ddd;
    text-decoration: revert;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.heroContent p a:hover{
    color:white
}

.heroSearchInput {
    width: 100%;
    background: #faf3f3;
    border-radius: 5px;
    position: relative;
    padding: 14px;
}

input#heroInput {
    width: 85%;
    position: absolute;
    padding: 10px;
    outline: none;
    border: none;
    background: #faf3f3;
    top: 8px;
}
.herosIcon {
    font-size: 14px;
    color: #8a8a8a;
    cursor: pointer;
}

.heroTrending {
    display: flex;
    padding: 20px 0px 0px 0px;
}

.heroTrending ul {
    display: flex;
}

.heroTrending ul li a { color: #ddd; font-size: 15px; transition:all .3s ; -webkit-transition:all .3s ; -moz-transition:all .3s ; -ms-transition:all .3s ; -o-transition:all .3s ; }
.heroTrending ul li a:hover{
    color:white;
}
.heroTrending span {
    color: white;
    margin-right: 5px;
}
.squareSpace {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    margin-top: 150px;
}
.squareSpace div a{
    color: #d9d6d6;
    font-size: 13px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.squareSpace div a:hover{
    color:white;
}

.dispan{
    color: #9c9c9c;
    font-size: 13px;
}
.createImage a img {
    width: 165px;
}
.createImage {
    width: 200px;
}

.createImage1 {
    margin-top: 28px;
}